.card-height {
    min-height: 600px;
}
.bottom-0   {
    bottom: 0;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.update{
    position: absolute;
    top: 0;
    right: 30px;
    padding: 5px;
    cursor: pointer;
}
.height-80 {
    min-height: 80px;;
}

.dark-theme {
    background-color: black;
    color: #fff;
}